%tr
  %td#name=         repo[:name]
  %td#url(hidden)=  repo[:url]
  %td#id(hidden)=   repo[:id]
  %td
    .btn-group
      %a.js-on.btn.btn-default.active{ class: "#{repo_active_class(url)}"}    On
      %a.js-off.btn.btn-default.inactive{ class: "#{repo_active_class(url)}"} Off
