%tr
  %td#name=         repo.name
  %td#url(hidden)=  repo.url
  %td#id(hidden)=   repo.uid
  %td
    .btn-group
      - classes = button_classes(repo.activated)
      %a.js-on.btn.btn-default{id: "on_#{repo.name}", class:  classes[0]} On
      %a.js-off.btn.btn-default{id: "off_#{repo.name}", class: classes[1]} Off
