<!DOCTYPE html>
<html>
  <head>
    <title>Simple CI | TangoSource</title>
    <meta name="description=", content="A continuous integration tool for github ruby projects.">
    <meta name="keywords" content="continuous integration, continuous integration, ruby continuous integration">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= hidden_field :session_id, "", value: request.session_options[:id] %>
    <%= render :partial => "layouts/header" %>
    <div class="container content" >
      <%= yield %>
    </div>
    <%= render :partial => "layouts/footer" %>

  </body>
</html>
