!!!
%html
  %head
    %title simple CI
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    = hidden_field :session_id, "", value: request.session_options[:id]
    = render :partial => "layouts/header"
    .container.content
      = yield
    = render :partial => "layouts/footer"
